[submodule "packages/shinken-module-pickle-retention-file-generic"]
	path = packages/shinken-module-pickle-retention-file-generic
	url = git@github.com:kaji-project/shinken-module-pickle-retention-file-generic.git
[submodule "packages/shinken-module-livestatus"]
	path = packages/shinken-module-livestatus
	url = https://alioth.debian.org/anonscm/git/pkg-shinken/shinken-module-livestatus.git
[submodule "packages/shinken-module-graphite"]
	path = packages/shinken-module-graphite
	url = https://alioth.debian.org/anonscm/git/pkg-shinken/shinken-module-graphite.git
[submodule "packages/shinken"]
	path = packages/shinken
	url = https://alioth.debian.org/anonscm/git/pkg-shinken/shinken.git
[submodule "packages/shinken-module-logstore-sqlite"]
	path = packages/shinken-module-logstore-sqlite
	url = https://alioth.debian.org/anonscm/git/pkg-shinken/shinken-module-logstore-sqlite.git
[submodule "packages/shinken-module-booster-nrpe"]
	path = packages/shinken-module-booster-nrpe
	url = https://alioth.debian.org/anonscm/git/pkg-shinken/shinken-module-booster-nrpe.git
