[submodule "packages/shinken-module-pickle-retention-file-generic"]
	path = packages/shinken-mod-pickle-retention-file-generic
	url = git@github.com:kaji-project/shinken-module-pickle-retention-file-generic.git
[submodule "packages/shinken-module-livestatus"]
	path = packages/shinken-mod-livestatus
	url = git@github.com:kaji-project/shinken-mod-livestatus.git
[submodule "packages/shinken-module-graphite"]
	path = packages/shinken-module-graphite
	url = git@github.com:kaji-project/shinken-module-graphite.git
[submodule "packages/shinken"]
	path = packages/shinken
	url = git@github.com:kaji-project/shinken.git
[submodule "packages/shinken-module-logstore-sqlite"]
	path = packages/shinken-mod-logstore-sqlite
	url = git@github.com:kaji-project/shinken-mod-logstore-sqlite.git
[submodule "packages/shinken-module-booster-nrpe"]
	path = packages/shinken-mod-booster-nrpe
	url = git@github.com:kaji-project/shinken-mod-booster-nrpe.git
[submodule "packages/shinken-module-simple-log"]
	path = packages/shinken-mod-simple-log
	url = git@github.com:kaji-project/shinken-module-simple-log.git
[submodule "packages/nagvis"]
	path = packages/nagvis
	url = git@github.com:kaji-project/nagvis.git
[submodule "packages/shinken-module-mod-influxdb"]
	path = packages/shinken-mod-influxdb
	url = git@github.com:kaji-project/shinken-module-mod-influxdb.git
[submodule "packages/pynag"]
	path = packages/pynag
	url = git@github.com:kaji-project/pynag.git
[submodule "packages/adagios"]
	path = packages/adagios
	url = git@github.com:kaji-project/adagios.git
[submodule "packages/kaji"]
	path = packages/kaji
	url = git@github.com:kaji-project/kaji.git
[submodule "packages/influxdb-python"]
	path = packages/influxdb-python
	url = git@github.com:kaji-project/influxdb-python.git
