[submodule "packages/shinken-module-pickle-retention-file-generic"]
	path = packages/shinken-module-pickle-retention-file-generic
	url = git@github.com:kaji-project/shinken-module-pickle-retention-file-generic.git
[submodule "packages/shinken-module-livestatus"]
	path = packages/shinken-module-livestatus
	url = git@github.com:kaji-project/shinken-module-livestatus.git
[submodule "packages/shinken-module-graphite"]
	path = packages/shinken-module-graphite
	url = git@github.com:kaji-project/shinken-module-graphite.git
[submodule "packages/shinken"]
	path = packages/shinken
	url = git@github.com:kaji-project/shinken.git
[submodule "packages/shinken-module-logstore-sqlite"]
	path = packages/shinken-module-logstore-sqlite
	url = git@github.com:kaji-project/shinken-module-logstore-sqlite.git
[submodule "packages/shinken-module-booster-nrpe"]
	path = packages/shinken-module-booster-nrpe
	url = git@github.com:kaji-project/shinken-module-booster-nrpe.git
[submodule "packages/shinken-module-simple-log"]
	path = packages/shinken-module-simple-log
	url = git@github.com:kaji-project/shinken-module-simple-log.git
[submodule "packages/nagvis"]
	path = packages/nagvis
	url = git@github.com:kaji-project/nagvis.git
[submodule "packages/shinken-module-mod-influxdb"]
	path = packages/shinken-module-mod-influxdb
	url = git@github.com:kaji-project/shinken-module-mod-influxdb.git
